*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(245, 245, 245);
    color: #000;
    margin: 0 100px;
    align-items: center;
}
red {
    color: rgb(248, 110, 110);
}
i {
    margin: 0 10px;
}
input {
    border-color: #ddd;
    padding: 8px 15px;
    border-radius: 10px;
}
.header__principal {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10px;
}
.header__titulo {
    font-size: 30px;
    font-weight: 200;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu__item {
    text-decoration: none;
    padding: 10px 20px;
}
.menu__item:hover {
    border-radius: 20px;
    background-color: whitesmoke;
}
.rosa{
    height: 100%;
    background-color: rgb(248, 110, 110);
    border-radius: 20px;
}
.card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
}
.fa-star, .fa-star-half-alt{
    margin: 3px;
    color: rgb(1, 168, 190);
}
.rounded-circle {
    max-width: 80px;
    max-height: 80px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(1, 168, 190);
}
button {
    margin: 10px;
}

.checkbox {
    margin-right: 10px;
}

.card-details {
    margin-right: 10px;
}

.acessibilidade {
    font-size: auto;
}

.acessibilidade-bar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar .nav-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.main {
    margin-top: 68px;    
}
